.red {
    background-color: red;
}

.blue {
    background-color: rgb(68, 158, 231);
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.magenta {
    background-color: magenta;
}

.hidden {
    display: none !important;
}

.bg-2026 {
    background-color: #121948;
    color: #fff;
}

.title-bg-2026 {
    background-color: #92d23c;
    color: #000;
}